@use '../asset/' as *;

.personal {
  @include flex(row, space-between, center, wrap);
  &__left {
    width: 100%;
    margin-bottom: 45px;
    @include create-mq(960px) {
      width: 50%;
      margin-bottom: 0;
    }
    &-picture {
      max-width: 440px;
      line-height: 0;
      position: relative;
      margin: 0 15px 45px;
      @include create-mq(960px) {
        margin: 0;
      }
      &::after {
        content: '';
        position: absolute;
        left: 30px;
        top: 30px;
        border: 5px solid $color-secondary-light;
        width: 100%;
        height: 100%;
        z-index: -5;
      }
    }
    &-hidden {
      display: block;
      @include create-mq(960px) {
        display: none;
      }
    }
  }
  &__right {
    width: 100%;
    @include flex(row, flex-start, center, wrap);
    column-gap: 45px;
    @include create-mq(960px) {
      width: 50%;
    }
    &-list {
      margin-bottom: 35px;
      width: 100%;
      @include create-mq(520px) {
        width: calc(50% - 23px);
      }
      li {
        line-height: 3;
        @include flex(row, flex-start, center, nowrap);
        column-gap: 25px;
        .weight-600 {
          font-weight: 600;
        }
      }
    }
  }
  &__button {
    width: 100%;
  }
}
.about-hr {
  margin: 72px auto 50px;
}
.resume {
  &__flex {
    @include flex(row, space-between, stretch, wrap);
    &-experience {
      width: 100%;
      margin-bottom: 45px;
      @include create-mq(768px) {
        width: 47%;
      }
    }
    &-title {
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    &-list {
      .item {
        position: relative;
        padding-left: 40px;
        border-left: 1px solid $color-grey-dark-2;
        &:not(:last-child) {
          padding-bottom: 40px;
        }
        .bullet {
          width: 15px;
          height: 15px;
          position: absolute;
          left: -8px;
          top: 0;
          border-radius: 50%;
          border: 2px solid $color-secondary-light;
          background-color: $color-white;
        }
        .card {
          .card-header {
            @include flex(column, flex-start, flex-start, nowrap);
            column-gap: 4px;
            opacity: 0.8;
            .year {
              @include flex(row, flex-start, center, nowrap);
              column-gap: 4px;
              i {
                &:nth-child(2) {
                  color: $color-secondary-light;
                }
              }
            }
            .exp-edu {
              text-transform: uppercase;
              @include flex(row, flex-start, center, nowrap);
              font-weight: 300;
              column-gap: 4px;
              .separator {
                width: 8px;
                height: 2px;
                background-color: $color-black;
              }
              .fw-700 {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}

.progress {
  &__title {
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__flex {
    @include flex(row, space-between, center, wrap);
  }
  &__skill {
    width: 100%;
    @include create-mq(768px) {
      width: 48%;
    }
    @include create-mq(960px) {
      width: 32%;
    }
    .skill-text {
      display: block;
      margin-bottom: 18px;
      font-size: 16px;
      color: $color-black;
      font-weight: 300;
      text-transform: uppercase;
    }
    .chart-bar {
      border-radius: 2px;
      height: 2px;
      position: relative;
      width: 100%;
      background-color: $color-grey-light-2;
      margin-bottom: 45px;
      .item-progress {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $color-secondary-light;
        display: inline-block;
      }
      .percent {
        border: 1px solid $color-secondary-light;
        height: 32px;
        margin-top: -41px;
        position: absolute;
        width: 46px;
        z-index: 10;
        border-radius: 4px;
        color: $color-secondary-light;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        line-height: 31px;
        top: 50%;
        .arrow {
          display: inline-block;
          padding: 4px;
          transform: translateY(33.5px) rotate(45deg) skew(3deg, 3deg)
            translateX(-27px);
          background-color: $color-white;
          bottom: 8px;
          position: absolute;
          border: solid $color-secondary-light;
          border-width: 0 1px 1px 0;
        }
      }
    }
    &:first-child {
      .item-progress {
        width: 80%;
      }
      .percent {
        right: calc(20% - 21px);
      }
    }
    &:nth-child(2) {
      .item-progress {
        width: 60%;
      }
      .percent {
        right: calc(40% - 21px);
      }
    }
    &:nth-child(3) {
      .item-progress {
        width: 75%;
      }
      .percent {
        right: calc(25% - 21px);
      }
    }
    &:nth-child(4) {
      .item-progress {
        width: 65%;
      }
      .percent {
        right: calc(35% - 21px);
      }
    }
    &:nth-child(5) {
      .item-progress {
        width: 90%;
      }
      .percent {
        right: calc(10% - 21px);
      }
    }
    &:nth-child(6) {
      .item-progress {
        width: 85%;
      }
      .percent {
        right: calc(15% - 21px);
      }
    }
    &:nth-child(7) {
      .item-progress {
        width: 60%;
      }
      .percent {
        right: calc(40% - 21px);
      }
    }
    &:nth-child(8) {
      .item-progress {
        width: 75%;
      }
      .percent {
        right: calc(25% - 21px);
      }
    }
    &:last-child {
      .item-progress {
        width: 80%;
      }
      .percent {
        right: calc(20% - 21px);
      }
    }
  }
}
